<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('_link') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('_nav') %>
    <div class="container">
        <table class="table">
            <thead style="text-align: center;">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Image</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Stock</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody style="text-align: center;">
              <% data.forEach((e, i) => { %>
                <tr>
                  <td><%= i+1 %></td>
                  <td><img src="<%= e.urlPicture %>" alt="image of <%= e.name %>" style="width: 50px;"></td>
                  <td style="text-align: left;"><%= e.name %></td>
                  <td style="text-align: left;"><%= e.Category.name %></td>
                  <td><%= e.stock %></td>
                  <td>
                    <a href="/admin/addStock/<%= e.id %>" class="btn btn-success">Add Stock</a>
                    <a href="/admin/edit/<%= e.id %>" class="btn btn-primary">Edit</a>
                    <a href="/admin/delete/<%= e.id %>" class="btn btn-danger">Delete</a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
    </div>
    <%- include('_script') %>
</body>
</html>